body{
  /*background-color: #809fff;*/
  /*background-color: #d9d9d9;*/
  background-color:white;
  font-family: Arial;
}
.head{
  background-color: white;
  text-align: center;
  margin: auto;
  border-radius: 0;
}
.navbar {
  border:0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: gray;

}
/*
.row.content{
  height: 450px;
  width: auto;
}
*/
.sidenav {
  padding: 20px;
  width: auto;

}

td{
  padding: 5px;
}
footer {
  background-color: gray;
  color: white;
  padding: 15px;
  margin-bottom: 0px;
  margin-top: 15px;
}
@media screen and (max-width: 700px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    /*height:auto;*/
  }
}
.navbar-nav li a:hover, .navbar-nav li.active a {

    background-color: black !important;
}
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.icon-bar{
  color: yellow;
}
.btn{
  color: #fff;
  background-color: gray;
}
.btn:hover{
  color: #fff;
  background-color: black;
}

.contactForm{
  border-style: solid;
  border-width:1px;
  padding: 10px 25px 25px 25px;
  margin-top: 10px;
}
.textBoxItems{
  margin: 25px 0px 25px 0px;
}
